body{
    margin: 0;
}

.app
{
    display: flex;
    justify-content: center;
}

.app > div:nth-of-type(1)
{
    margin-top: 40px;
}

.loginHeaderBox
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 20px 0px 30px 0px;
}

.headIcon{
    width: 40px;
    height: 40px;
    background-color: #4BA0EC;
    border-radius: 50%;
    margin: 0 auto;
}
.loginHeaderBox > p{
    margin: 0;
    font-size: 24px;
}

.nameLabel{
    font-size: 14px;
}

.inputField > form > div
{
    margin-bottom: 20px;
    width: 560px;
    background-color: #F6F8FA;
    border-bottom: solid 2px #697785;
}

.inputName,.inputId,.inputPw{
    width: 550px;
    height: 39px;
    background-color: #F6F8FA;
    border: none;
}
.idLabel{
    font-size: 14px;
}
.pwLabel{
    font-size: 14px;
}
.nextBtn{
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(109, 180, 241);
    opacity: 0.7;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.nextBtn:hover
{
    opacity: 1;
    transition: 0.3s;
}

.logIn{
    color: #1592E6;
    font-size: 12px;
}

.successBox
{
    text-align: center;
}

.successBox > img
{
    width: 200px;
    height: 200px;
}