body{
    margin: 0;
}

.loginHeader
{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.allContainer
{
    display: flex;
    justify-content: center;
}

.headIcon{
    width: 40px;
    height: 40px;
    background-color: #4BA0EC;
    border-radius: 50%;
}
.title{
    margin-top: 30px;
    font-size: 24px;
    
}
.idContainer{
    width: 550px;
    background-color: #F6F8FA;
    border-bottom: solid 2px #697785;
}
.inputId,.inputPw{
    width: 550px;
    height: 40px;
    background-color: #F6F8FA;
    border: none;
    outline: none;
}
.pwContainer{
    width: 550px;
    background-color: #F6F8FA;
    border-bottom: solid 2px #697785;
}
.idLabel{
    font-size: 14px;
}
.submitBtn{
    margin-top: 20px;
    width: 550px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(130, 197, 255);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
}

.submitBtn:hover
{
    opacity: 1;
    transition: 0.3s;
}

.signUpLink{
    color: #1592E6;
    font-size: 12px;
    text-align: center;
}