.following {
  display: inline;
  width: 120px;
  height: 40px;
  margin: -100px 0px 0px 690px;
  border: 1.5px solid #6fbef7;
  border-radius: 20px;
  color: #1fa1f3;
  background: white;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

.following:hover {
  background: #4bb4ff;
  color: white;
}

.followers > span {
  margin: 0px 0px 0px 25px;
  color: hsl(0, 0%, 0%, 0.6);
  font-size: 15px;
  font-weight: 600;
}

#otherId {
  margin: 20px 0px 0px 30px;
  font-size: 20px;
  font-weight: bold;
}

#otherEmail {
  color: hsl(0, 0%, 0%, 0.55);
  margin: 0px 0px 10px 25px;
}